header {
  .navbar-flex {
    height: 100px;
    .left-side {
      img {
        width: 205px;
        height: 25px;
      }
    }
    .right-side {
      ul {
        margin-bottom: 0px;
        li {
          display: inline-block;
          padding: 15px;
          cursor: pointer;
        }
        .home-menu {
          position: relative;
          .home-sub {
            transition: 0.5;
            padding-top: 50px;
            visibility: hidden;
            position: absolute;
            background-color: white;
            left: 0;
            top: 100%;
            width: 220px;
            ul {
              overflow: hidden;
              width: 100%;
              transition: 0.5s;
              height: 0;
              opacity: 0;
              li {
                opacity: 0;
                display: block;
                padding: 4px 0;
                color: black;
                cursor: pointer;
                text-decoration: none;
              }
              .sub-main-home {
                text-decoration: underline;
              }
            }
          }

          &:hover {
            .home-sub {
              visibility: visible;
              border: 1px solid white;
              ul {
                height: 240px;
                opacity: 1;
                li {
                  opacity: 1;
                  display: block;
                  overflow: hidden;
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    border: 1px solid rgba(0, 0, 0, 0.445);
                    width: 0px;
                    transition: 0.5s;
                    left: 0;
                    bottom: 0;
                    visibility: hidden;
                  }
                  &:hover {
                    text-decoration: underline;
                    &::after {
                      width: 100%;
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
